/* ************************************************************************************************ */
/* General Styles ********************************************************************************* */
/* ************************************************************************************************ */
html, body {
	width: 100%;
	height: 100%;
	}
	body {
		margin: 0;
		padding: 0;
        color: $color-black;
		font-family: $font1;
        font-size: $fontsize;
        line-height: 1;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		background-color: $color-gray-3;

		text-rendering: optimizeLegibility;
		text-rendering: geometricPrecision;
		font-smooth: always;
		font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		
		-webkit-font-smoothing: antialiased;
		-webkit-font-smoothing: subpixel-antialiased;
		/*
		-webkit-text-stroke: 0.3px;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		*/
	    }
	
main {
	width: 100%;
	margin: 12px auto 80px;
	padding: 12px 24px;
}
	
div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark,
audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	}

html, html a {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: none;
    text-rendering: optimizeLegibility;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    }

ul, ol {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	
	&::before,
	&::after {
		content: '';
		content: none;
		}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

::-moz-selection {
	color: $color-white;
	background: $color-gray-2;
	
	text-shadow: none;
	}

::selection {
	color: $color-white;
	background: $color-gray-2;
	
	text-shadow: none;
	}

h1,h2,h3,h4,h5,h6,
ul,ol,li,dd,dt,dl,div,span,
blockquote,p,blockquote,q,
aside,column,header,footer,
article,menu,nav,sub,sup {
    margin: 0;
    padding: 0;
    font-size: 100%;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}	

h1 {
	font-size: 1.5rem;
	line-height: 1.75rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.20rem;
	line-height: 1.75rem;
	text-transform: uppercase;
}

h3 {
	// padding: 12px 0;
	font-size: 1rem;
	text-transform: uppercase;
}

h4 {
	padding: 12px 0;
}

h5 {
}

h6 {
}

p {
	padding: 12px 0;
	line-height: 1.25rem;
}

a {
	color: $color-gray-4;
	text-decoration: none;
	
	@include transition(color 0.10s ease-in-out);

	&:visited {}
	&:hover {
		color: $color-gray-2;
		text-decoration: none;
		}
	// &:focus {
	// 	outline: 1px solid $color-gray-3;
	// 	}
}


img {
	border: 0 none;
	
    /* Assures that the the maximum width of the image will not be bigger than the size of the containing screen */       
    height: auto;
    max-width: 100%;
	}

sup,
sub {
	margin: 0;
	padding: 0;
	font-size: 10px;
	line-height: 0;
	}
abbr[title] {
	border-bottom: 1px dotted;
	}

b, strong {
	font-weight: bold;
	font-weight: 700;
	}

blockquote {
	margin: 1em 40px;
	}

dfn {
	font-style: italic;
	}

hr {
	clear: both; 
	margin: 12px 0 12px;
    width: 100%;
    height: 0; 
    border: solid $color-gray-3;
    border-width: 1px 0 0; 
	}

ins {
	color: $color-white;
	text-decoration: none;
	background: $color-gray-2;
	}

mark {
	color: $color-white;
	font-style: italic;
	font-weight: bold;
	background: $color-gray-2;
	}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
	}

/* Improve readability of pre-formatted text in all browsers */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
    overflow: visible;

    &.code {
        padding: 15px;
        display: block;
        color: tint($color-gray-2,50%);
        font-size: 0.80rem;
        background-color: $color-black;
        }
}

#dd {
    float: right;
	
	i {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 100%;
        text-align: center;
        background: $color-gray-2;
		
		&::before {
            position: absolute;
            top: 15px;
            left: 12px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 7px 0 6px;
            border-color: $color-white transparent transparent transparent;
            content: "";
			}
	}
}

button, input, optgroup, select, textarea {}

/* Mozilla Fix */
button,input {
	&::-moz-focus-inner {
		padding: 0;
		border: 0 none;
		}
}

/* Global Box Sizing */
*,
*::before,
*::after {
	@include boxsizing(border-box);
	}
